<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ReportConnection" connectionString="XpoProvider=MSSqlServer;data source=dev-fvp-sql.database.windows.net;user id=;password=;initial catalog=fvp-database_Copy;Persist Security Info=true" />
        <add name="localhost_fvp-database_Copy_Connection" connectionString="XpoProvider=MSSqlServer;data source=dev-fvp-sql.database.windows.net;user id=la;password=!@@dev1234;initial catalog=fvp-database_Copy;Persist Security Info=true" />
    </connectionStrings>
</configuration>